extends layout

block content
    h1 Contact form
    p #{title}
    form(method="post", action="/")
        label first name
            input(name="fname", placeholder="first name")
        label phone 
            input(name="phone", placeholder="phone")
        button Send
