extends layout

block content
    h1= title
    a(href="/") home
    p Welcome to #{title}
    form(method="post" action="/")
        fieldset
            legend Contact us
            label First name
                input(type="text", placeholder="First name", name="fname")
            label Last name
                input(type="text", placeholder="Last name", name="lname")
            input(type="hidden", name="myhidden" value="hiddd")
            button(name="submit", type="submit") submit
