extends logged-layout

block content
    h1 Sign Up for the Marathon
    p #{title}
    form(method="post", action="/runner/add")
        input(name='id', placeholder="ID")
        input(name='name', placeholder="NAME")
        select(name='km')
            each item in kmArray
                option(value= item)= item
        button(name='addRunner') Add Runner