doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        a(href='/') Home |
        if username
            a(href='/login/end') Logout (#{username})
        else
            a(href='/login') Login
    block content
